<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto">
            <h1>Result Management System</h1>
        </a>
    </div>
</nav>

<section class="mt-5">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <div class="text-center p-3 mb-3 text-white bg-info rounded shadow-sm">
                <div class="lh-1 fadeIn first">
                    <h1 class="h3 mb-0 text-white lh-1 fadeIn second">Login As</h1>
                </div>
            </div>

            <!-- Login Form -->
            <div class="mt-4">
                <button class="design fadeIn fourth" routerLink="/login">Teacher</button>
                <p class="mb-4"><b>Or</b></p>
                <button class="design fadeIn fourth" routerLink="/searchrecord">Student</button>
            </div>
        </div>
    </div>
</section>

